<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{"/" | relative_url }}">test1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{"/directory/about" | relative_url }}">test2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{"/directory/technology" | relative_url }}">test3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{"/directory/ForeignLanguage" | relative_url }}">test4</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{"/directory/thoughts" | relative_url }}">test5</a>
      </li>
    </ul>
  </div>