// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/clean-blog.scss";

.profile_span {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 15px;
    font-weight: 600;
    font-family: sans-serif;
    color:rgb(76, 77, 78);
  }

  .profile_name_span {
    font-size: 25px;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(0, 0, 0);
  }

  .customized_svg {
    width: 17px;
    height: 17px;
    margin-right: 7px;
  }

  .techCategory_ul {
    display: inline-block;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
  }

  .techCategory_li {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 0px;
  }

  .techCategory_btn{
    font-size: medium;
    color: aliceblue;
  }

  /* post 의 table 관련 속성 customizing */
  table{
    width: 100%;
    border: 2px solid;
    border-collapse: collapse;
    margin: auto;
    text-align: center;
  }

  th{
    background-color: rgb(206, 206, 206);
    border:2px solid;
    padding: 10px;
    border-color: black;
  }

  td{
    border:2px solid;
    padding: 10px;
    border-color: black;
  }

  /*  blockquote 커스터마이징 */
  blockquote{
    border-left: 5px solid #a8b1bb;
    padding-left: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }