---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead"
    style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
    {% else %}
    <header class="masthead">
        {% endif %}
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>{{ page.title }}</h1>
                        {% if page.description %}
                        <span class="subheading">{{ page.description }}</span>
                        {% endif %}
                    </div>
                    <div style="text-align: center;">
                        <div style="display: inline-block;">
                            <ul class="techCategory_ul">
                                <li class="techCategory_li">
                                    <a class="techCategory_btn" href="{{"/directory/tech-algorithm" | relative_url }}">Algorithm ({{
                                        site.categories.technology-algorithm.size }})</a>
                                </li>
                                <li class="techCategory_li">
                                    <a class="techCategory_btn" href="{{"/directory/tech-dataStructure" | relative_url }}">Data Structure ({{
                                        site.categories.technology-datastructure.size }})</a>
                                </li>
                                <li class="techCategory_li">
                                    <a class="techCategory_btn" href="{{"/directory/tech-OOP" | relative_url }}">OOP ({{
                                        site.categories.technology-oop.size }})</a>
                                </li>
                                <li class="techCategory_li">
                                    <a class="techCategory_btn" href="{{"/directory/tech-javaAndPython" | relative_url }}">Java & Python ({{
                                        site.categories.technology-javaandpython.size }})</a>
                                </li>
                                <li class="techCategory_li">
                                    <a class="techCategory_btn" href="{{"/directory/tech-network" | relative_url }}">Network ({{
                                        site.categories.technology-network.size }})</a>
                                </li>
                                <li class="techCategory_li">
                                    <a class="techCategory_btn" href="{{"/directory/tech-OS" | relative_url }}">OS ({{
                                        site.categories.technology-os.size }})</a>
                                </li>
                                <li class="techCategory_li">
                                    <!-- <a class="techCategory_btn" href="{{" /directory/tech-database" | relative_url }}">Database ({{site.categories.technology-database.size }})</a> -->
                                    <!-- 데이터베이스 포스트 추가 시 아래 코드 주석처리하고 위 주석 해제 -->
                                    <a class="techCategory_btn" href="{{"/directory/tech-database" | relative_url }}">Database (0)</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 mx-auto">
                <p style="color:grey; margin: 0%; font-size: 30px;">
                    {% if page.url contains "technology" %}
                    <b>All Tech Posts</b>
                    {% endif %}
                    {% if page.url contains "tech-algorithm" %}
                    <b>Algorithm</b>
                    {% endif %}
                    {% if page.url contains "tech-dataStructure" %}
                    <b>Data Structure</b>
                    {% endif %}
                    {% if page.url contains "tech-OOP" %}
                    <b>Object Oriented Programming</b>
                    {% endif %}
                    {% if page.url contains "tech-javaAndPython" %}
                    <b>Java & Python </b>
                    {% endif %}
                    {% if page.url contains "tech-network" %}
                    <b>Network</b>
                    {% endif %}
                    {% if page.url contains "tech-OS" %}
                    <b>Operating Sytem</b>
                    {% endif %}
                    {% if page.url contains "tech-database" %}
                    <b>DataBase</b>
                    {% endif %}
                </p>
                <hr>
                {{ content }}
            </div>
        </div>
    </div>